body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #07000F;
  background: #ffffff;
}

ul{
  margin: 0;
}
